.social-logo {
    width: 2em;
    height: 2em;
    transition: transform 0.2s;
}

.social-logo:hover {
    transform: scale(1.1); /* Optional: zoom effect on hover */
}

#social-media {
    display: flex;
    justify-content: space-between;
    width: 25%;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: "Playwrite NG Modern", cursive;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 80vw
}

#synopsis {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    color: grey;
}

a:hover {
    color: white;
    background-color: darkslategrey;
    border-radius: 5px; /* Add small curve */
}

